.work-page {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
}

.works-display {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 20px 0px;
}

@media screen and (max-width:790px) {
    .works-display {
        display: flex;
        flex-direction: column;
        padding: unset;
    }
}

.item img {
    width: 25rem;
    height: auto;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
}

@media screen and (max-width:917px) {
    .item img {
        width: 21rem;
    }
}

@media screen and (max-width:790px) {
    .item img {
        margin-top: 2rem;
    }
}

@media screen and (max-width:374px) {
    .item img {
        width: 17rem;
    }
}

.item-title {
    position: absolute;
    margin-top: -40px;
    background: rgb(22 22 22 / 84%);
    width: 25.1rem;
    height: 2.3rem;
    margin-left: -1px;
    display: flex;
    align-items: center;
    font-size: 17px;
    justify-content: center;
    transition: 0.3s;
}
@media screen and (max-width:917px) {
    .item-title {
        width: 21rem;
        margin-left: 2px;
    }
}
@media screen and (max-width:374px) {
    .item-title {
        font-size:14px;
    }
}


.item-title i{
    font-size: 18px;
    position: absolute;
    right: 1rem;
}
@media screen and (max-width:374px) {
    .item-title i{
        font-size:14px;
        position: absolute;
        right: 1rem;
    }
}
@media screen and (max-width:374px) {
    .cart{
        width: 17.1rem;
        margin-left:33px;
    }
}
@media screen and (max-width:340px) {
    .cart{
        width: 15.6rem;
        margin-left: 33px;

    }
}
@media screen and (max-width:320px) {
    .cart{
        width: 15.6rem;
        margin-left: 23px;
    }
}
@media screen and (max-width:374px) {
    .netflix{
        width: 17rem;
      
    }
}

.item-title a {
    right: 1rem;
    position: inherit;
}


.item-title:hover
{
    background: #161616;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

