.service-page{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
}

a{
text-decoration: none;
color: #fff;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 26px 9px;
    border-bottom: 2px solid red;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title span{
    font-size: 2rem;
}


/*Images */
.service-images{
    display: flex;
    justify-content: space-around;
    padding: 21px 150px 31px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform .5s;
}
.service-images img:hover{
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.03);

}
@media screen and (max-width:900px) {
    .service-images{
    padding: 21px 80px 31px;
    }
}
@media screen and (max-width:660px) {
    .service-images{
    padding: 21px 0px 31px;
    }
}
@media screen and (max-width:420px) {
    .service-images{
        font-size: large;
    }
}
@media screen and (max-width:448px) {
    .service-images{
    display: flex;
    flex-direction: column;
    }
}
/*---------------------*/

.static img{
    width: 13rem;
    margin-bottom: 1rem;
}
@media screen and (max-width:720px) {
    .static img{
        width: 10rem;
    }
}
@media screen and (max-width:660px) {
    .static img{
        width: 8rem;
    }
}
.webapp img{
    width: 19rem;
    margin-bottom: 1rem;
}
@media screen and (max-width:720px) {
    .webapp img{
        width: 15rem;
    }
}@media screen and (max-width:660px) {
    .webapp img{
        width: 12rem;
    }
}
.caption{
    font-size: 18px;
}
@media screen and (max-width:660px) {
    .caption{
        font-size: 15px;
    }
}
/*.title{
    display: flex;
    font-size: 2.5rem;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    padding: 10px 26px 9px;
    border-bottom: 2px solid red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}*/


