.footer {
    height: 140px;
    background-color: #100f0f;
}

.name-div {
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 12px;
}

.footer-name {
    font-size: 23px;
}

.social-media {
    display: flex;
    font-size: 20px;
    padding-top: 9px;
    justify-content: center;
    padding-left: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.copyright {
    display: flex;
    color: #fff;
    justify-content: center;
    margin: 10px;
}

@media screen and (max-width: 1000px) {
    .copyright {
        font-size: small;
    }
}


.fab:hover {
    color: rgb(145, 144, 143);
}
.footer i{
    padding-right: 20px;
    color: #fff;
}